*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(249,244,232,255);
    color: #525252;
    font-family: 'Lato', sans-serif;
}

.nav-bar{
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #525252;
    font-size: 14px;
    font-weight: 500;
}

.left{
    display: flex;
    align-items:center;
    gap: 10px;
}

.left span{
    background-image: linear-gradient(to right,#eab251,#ea5474);
    font-size: 8px;
    color: #fbebe2;
    padding: 4px 7px;
    border-radius: 9px;
    margin-top: 4px;
}

nav{
    display: flex;
    gap: 20px;
}

.right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ham{
    display: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.content{
    margin-top: 40px;
    width: 40%;
}

.mobile{
    display: none;
}

.small{
    display: none;
}

h1{
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    margin-bottom: 15px;
    color: black;
}

p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

input{
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 280px;
}

button{
    padding: 15px 20px;
    background-color: rgba(73,119,234,255);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.content-bottom{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-bottom span{
    font-size: 14px;
}

footer{
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one{
    display: flex;
    gap: 15px;
}

.avatar{
    float: left;
    margin-right: 10px;
}

.two{
    width: 200px;
    color: black;
}

.two span{
    font-family: 'Playfair Display', serif;
    font-size: 13px;
}

.two a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 13px;
}

@media only screen and (max-width: 1145px){
    .nav-bar{
        padding: 2rem 3rem;
    }
    
    nav{
        display: none;
    }

    .right{
        display: none;
    }

    .ham{
        display: block;
    }

    .hero{
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem 3rem;
    }

    .content{
        width: 100%;
    }
    

    footer{
        padding: 2rem 3rem;
    }
}

@media only screen and (max-width: 517px){
    .nav-bar{
        padding: 1rem 2rem;
    }
    
    .hero{
        padding: 1rem 2rem;
    }

    h1{
        font-size: 32px;
    }

    p{
        font-size: 13px;
    }

    .content-bottom span{
        font-size: 13px;
    }

    .desktop{
        display: none;
    }

    .mobile{
        min-width: 50px;
        display: block;
    }
    
    input{
        width: 100%;
        margin-bottom: 15px;
    }

    button{
        width: 100%;
    }

    footer{
        padding: 1rem 2rem;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media only screen and (max-width: 350px){
    h1{
        font-size: 28px;
    }

    p{
        font-size: 12px;
    }
    
    .content-bottom span{
        font-size: 12px;
    }

    .two span{
        font-size: 12px;
    }

    .mobile{
        display: none;
    }

    .small{
        display: block;
    }
    .a123675{
        display: none;
    }
}